name: docker login

# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      - name: Login to harbor
        run: |
          docker login aws.registry.trendmicro.com -u 'robot$luwak+xdr-app-mxdr' -p ${{ secrets.harbor_luwak_pwd }}
        # with:
        #   registry: aws.registry.trendmicro.com
        #   username: robot$luwak+xdr-app-mxdr
        #   password: ${{ secrets.harbor_luwak_pwd }}