# This is a basic workflow to help you get started with Actions
name: my_first_ga
environment: dev

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "ff/**", "p/**" ]
  pull_request:
    types: [opened, synchronize, labeled]
    branches: [ "main", "p/**" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  # Make different between github action and jenkins build and push
  # "-act", ex: vxxx-brach-act-az
  mysecret: '${{ secrets.MY_SECRET }}'
  AWS_ACCESS_KEY_ID: '${{ secrets.AK }}'
  AWS_SECRET_ACCESS_KEY: '${{ secrets.SK }}'
  AWS_SESSION_TOKEN: '${{ secrets.ST }}'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build2:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: test22
        run: |
          pip install boto3
          python main.py

     